
Options -Indexes

RewriteEngine On
RewriteBase /
RewriteRule ^user/([A-Za-z0-9/]+)$ user.php?id=$1    [NC,L]  
RewriteRule ^deluser/([A-Za-z0-9/]+)$ deluser.php?id=$1    [NC,L]  

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
